beautifulsoup4==4.12.2  # BeautifulSoup для парсинга HTML
lxml==4.9.3             # быстрый XML и HTML-парсер
requests==2.31.0        # для выполнения HTTP-запросов и получения данных с веб-страниц
selenium==4.15.0        # для автоматизации браузера, если требуется работа с JavaScript (нужен также веб-драйвер, например, ChromeDriver)
fake-useragent==1.2.0   # для генерации случайных user-agent заголовков, чтобы эмулировать разные браузеры
pandas